*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.cover
coverage.*
profile.out
debug
trace.out

# Go workspaces
go.work
go.work.sum

*.log
*.tmp
*.swp
*.swo


vendor/

.idea/
.vscode/
.DS_Store
Thumbs.db

bin/
dist/
build/
tmp/
.env
.env.*

# app config (local only)
services/users/config/defaults.yaml
services/orders/config/defaults.yaml
services/outboxer/config/defaults.yaml
services/payments/config/defaults.yaml
services/gateway/config/defaults.yaml



