services:
  users-migrate:
    build:
      context: .
      dockerfile: services/users/Dockerfile
      target: users-migrate
    environment:
      DATABASE_URL: postgres://goshop:goshop@postgres16:5432/goshop?sslmode=disable&search_path=users,public
      RETRIES: "120"
      SLEEP_SECONDS: "2"
    depends_on:
      postgres16:
        condition: service_healthy
    networks: [kafka-net]
    restart: "no"

  users:
    build:
      context: .
      dockerfile: services/users/Dockerfile
      target: users-app
    container_name: users
    environment:
      CONFIG_FILE: /app/config/config.yaml
    depends_on:
      postgres16: { condition: service_healthy }
      redis:      { condition: service_healthy }
      kafka:      { condition: service_healthy }
      users-migrate: { condition: service_completed_successfully }
    ports:
      - "5081:8081"
      - "2113:2112"
    healthcheck:
      test: ["CMD", "sh", "-c", "nc -z 127.0.0.1 8081"]
      interval: 5s
      timeout: 3s
      retries: 15
    networks: [kafka-net]
    restart: unless-stopped

networks:
  kafka-net: {}




